@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slidein {
  transform-origin: top right;
  animation: animate-slidein 170ms;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .track-input-group {
    @apply bg-gray-100 dark:bg-gray-700 px-4 py-2 text-xl flex items-center justify-between rounded-md;
  }
}

@keyframes animate-slidein {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-slideout {
  transform-origin: top right;
  animation: animate-slideout 170ms;
  animation-fill-mode: forwards;
}

@keyframes animate-slideout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
